EXPO_PUBLIC_API_URL=http://localhost:5000/api
EXPO_PUBLIC_WS_URL=http://localhost:5000

# Map Provider ('maplibre' | 'google')
EXPO_PUBLIC_MAP_PROVIDER=maplibre

# Open / Free Map Services (Geoapify & OpenRouteService)
EXPO_PUBLIC_GEOAPIFY_API_KEY=
EXPO_PUBLIC_OPENROUTESERVICE_API_KEY=

# GOOGLE MAPS PLATFORM (PRESERVED FOR FUTURE USE)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
